.search-food{
    text-align: center;
    margin-top: 20px;
}

#show-food{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    
    
}
#single-food img{
    height: 400px;
}
#single-food-details{
    margin-top: 20px;
    
}
#single-food-details img{
    height: 300px;
}
#not-found{
    display: none;
}